.button {
  position: relative;
  display: block;
  padding: 16px 59px 14px 19px;
  font-family: $basic-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $primary;
  border-radius: 30px;
  transition: all 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $primary;
    border-radius: 50%;
    translate: 0 -50%;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 10px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-arrow-thin-view");
    background-color: $white;
    translate: 0 -50%;
    transition: all 0.3s;
  }

  &:hover {
    color: $white;
    background-color: $primary;
    transition: color 0.3s, background-color 0.3s;

    &::before {
      background-color: $white;
      transition: background-color 0.3s;
    }

    &::after {
      background-color: $primary;
      rotate: 45deg;
      transition: background-color 0.3s, rotate 0.3s;
    }
  }

  &:focus-visible {
    &::after {
      rotate: 45deg;
      transition: rotate 0.3s;
    }
  }

  &:active {
    color: rgb(255, 255, 255, 0.7);
    transition: opacity 0.3s;

    &::after {
      color: rgb(255, 255, 255, 0.7);
      rotate: 45deg;
      transition: color 0.3s, rotate 0.3s;
    }
  }

  @media ($tablet) {
    padding: 20px 80px 20px 30px;
    font-size: 14px;

    &::before {
      width: 46px;
      height: 46px;
    }

    &::after {
      right: 22px;
    }
  }

  @media ($desktop) {
    padding: 21px 80px 21px 30px;
  }
}
