.contacts {
  background-color: $primary;
}

.contacts__container {
  width: 320px;
  margin: 0 auto;
  padding: 76px 15px 70px;
}

.contacts__info {
  padding-bottom: 29px;
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
}

.contacts__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: $white;
}

.contacts__list {
  @include list-resseting;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contacts__info-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: $beige;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  opacity: 0.8;
}

.contacts__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $white;
  text-decoration: none;
  transition: color 0.3s, opacity 0.3s;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  &:focus-visible {
    color: $text;
    text-decoration: underline;
    text-underline-offset: 4px;
    outline: none;
    transition: color 0.3s, text-decoration 0.3s;
  }

  &:active {
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.3s, text-decoration 0.3s;
  }
}

.contacts__map {
  padding-top: 30px;
}
