.footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 40px 15px;
}

.footer__logo-container {
  margin: 0 auto 19px;
}

.footer__list {
  @include list-resseting;

  display: flex;
  margin-bottom: 19px;
  flex-wrap: wrap;
  gap: 17px 30px;
  justify-content: center;
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $text;
  text-decoration: none;
}

.footer__policy-container {
  display: flex;
  margin-bottom: 14px;
  flex-direction: column;
  gap: 13px;
}

.footer__policy {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: $text;
  text-align: center;
  text-underline-offset: 4px;
}

.footer__copyright {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: rgb(72, 72, 72, 0.6);
  text-align: center;
}

.footer__social-list {
  @include list-resseting;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.footer__social-link {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: $primary;
  border-radius: 50%;
}

.footer__social-link--vk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 7px;
  mask-image: url("/__spritemap#sprite-vk-view");
  mask-repeat: no-repeat;
  background-color: $white;
  translate: -50% -50%;
}

.footer__social-link--odnoklassniki::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 12px;
  mask-image: url("/__spritemap#sprite-odnoklassniki-view");
  mask-repeat: no-repeat;
  background-color: $white;
  translate: -50% -50%;
}

.footer__social-link--reddit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 12px;
  mask-image: url("/__spritemap#sprite-reddit-view");
  mask-repeat: no-repeat;
  background-color: $white;
  translate: -50% -50%;
}
