.hero {
  min-height: 100%;
}

.hero__wrapper {
  @include list-resseting;
}

.hero__swiper-slide.swiper-slide {
  display: flex;
  min-height: 568px;
  padding: 80px 15px 20px;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.hero__swiper-slide--experience {
  background:
    image-set(
      url("../../img/hero/experience-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/hero/experience-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/hero/experience-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/hero/experience-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__swiper-slide--volunteering {
  background:
    image-set(
      url("../../img/hero/volunteering-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/hero/volunteering-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/hero/volunteering-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/hero/volunteering-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__swiper-slide--internship {
  background:
    image-set(
      url("../../img/hero/internship-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/hero/internship-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/hero/internship-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/hero/internship-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__paginations {
  @include list-resseting;

  display: flex;
  padding: 0 16px 6px;
  gap: 12px;
  background-color: $white;
  border-radius: 12px 12px 0 0;
}

.hero__pagination-button {
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: transparent;
  border: 2px solid $primary;
  border-radius: 50%;
  cursor: pointer;

  &--current {
    background-color: $state-active;
    border-color: $state-active;
  }
}

.hero__title {
  margin: 0;
  padding: 20px 15px 16px 14px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  color: $primary;
  background-color: $white;
  border-radius: 0 16px 16px 0;
}

.hero__swiper-slide p {
  display: block;
  max-width: 92%;
  margin: 0;
  padding: 0 14px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $text;
  background-color: $white;
  border-radius: 0 0 14px;
}

.hero__button-container {
  padding: 10px 15px;
  background-color: $white;
  border-radius: 0 0 14px 14px;
}

.hero__link {
  position: relative;
  display: block;
  padding: 16px 59px 14px 19px;
  font-family: $basic-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $primary;
  border-radius: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 34px;
    height: 34px;
    background-color: $primary;
    border-radius: 50%;
    translate: 0 -50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 10px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-arrow-thin-view");
    background-color: $white;
    translate: 0 -50%;
  }
}
