.hero {
  min-height: 100%;
}

.hero__wrapper {
  @include list-resseting;
}

.hero__swiper-slide {
  display: flex;
  min-height: 568px;
  padding: 80px 15px 20px;
  flex-direction: column;
  justify-content: end;
}

.hero__swiper-slide--exp {
  background:
    image-set(
      url("../../img/hero/hero-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/hero/hero-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/hero/hero-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/hero/hero-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}
