.news__container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0 15px 11px;
  background-color: $beige;
  overflow: hidden;

  @media ($tablet) {
    width: 768px;
    padding: 0 45px 112px;
  }

  @media ($desktop) {
    width: 1440px;
    padding: 0 100px 132px;
  }
}

.news__header-swiper.swiper {
  padding: 51px 0 24px;
  overflow: visible;

  @media ($tablet) {
    padding: 51px 0 30px;
  }

  @media ($desktop) {
    padding: 60px 0 40px;
  }
}

.news__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: $primary;

  @media ($tablet) {
    margin-bottom: 29px;
    font-size: 34px;
    line-height: 1.47;
  }

  @media ($desktop) {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 1;
  }
}

.news__header-list.swiper-wrapper {
  @include list-resseting;

  @media ($tablet) {
    display: flex;
    position: relative;
    left: 2px;
    flex-wrap: wrap;
  }

  @media ($desktop) {
    left: 0;
    width: 720px;
    margin: 0 auto;
    gap: 30px;
  }
}

.news__header-item.swiper-slide {
  max-width: min-content;
}

.news__header-item.swiper-slide:not(:first-child) > .news__header-button {
  @media ($tablet) {
    padding: 14px 17px 14px 20px;
  }

  @media ($desktop) {
    padding: 14px 0;
  }
}

.news__header-item.swiper-slide:not(:first-child):last-child > .news__header-button {
  @media ($tablet) {
    padding: 14px 12px 14px 20px;
  }

  @media ($desktop) {
    padding: 14px 0;
  }
}

.news__header-button {
  padding: 11px 14px 9px 15px;
  font-family: $basic-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: rgb(49, 109, 194, 0.6);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  background-color: $beige;
  border: 2px solid transparent;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s;

  &--active {
    color: $primary;
    border-color: $primary;
  }

  &:hover {
    color: $primary;
    transition: color 0.3s;
  }

  &:focus-visible {
    color: $primary;
    background-color: $white;
    border-color: $white;
    outline: none;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }

  &:active {
    color: $primary;
    border-color: $primary;
    transition: color 0.3s, border-color 0.3s;
  }

  @media ($tablet) {
    padding: 14px 20px;
    font-size: 14px;
  }

  @media ($desktop) {
    min-width: 120px;
    padding: 14px 33px;
  }
}

.news__swiper.swiper {
  height: 679px;

  @media ($tablet) {
    height: 730px;
  }

  @media ($desktop) {
    height: 400px;
  }
}

.news__swiper-wrapper.swiper-wrapper {
  @include list-resseting;

  padding: 0 0 50px;
  flex-direction: unset;
  flex-wrap: wrap;

  @media ($desktop) {
    width: 1240px;
    flex-wrap: nowrap;
  }
}

.news__swiper-wrapper.swiper-wrapper > .news__swiper-slide.swiper-slide.swiper-slide-active {
  @media ($desktop) {
    min-width: 604px;
  }
}

.news__swiper-wrapper.swiper-wrapper > .news__swiper-slide.swiper-slide {
  @media ($desktop) {
    max-width: 286px;
  }
}

.news__block {
  display: flex;
  width: 290px;
  height: 240px;
  flex-direction: column;
  justify-content: end;
  border-radius: 12px;

  &--internship {
    background-image:
      image-set(
        url("../../img/news/internshop-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/news/internshop-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/news/internshop-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/news/internshop-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--journey {
    background-image:
      image-set(
        url("../../img/news/journey-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/news/journey-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/news/journey-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/news/journey-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--volunteering {
    background-image:
      image-set(
        url("../../img/news/volunteering-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/news/volunteering-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/news/volunteering-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/news/volunteering-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--career {
    background-image:
      image-set(
        url("../../img/news/career-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/news/career-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/news/career-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/news/career-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media ($tablet) {
    width: 324px;
    height: 350px;

    &--internship {
      background-image:
        image-set(
          url("../../img/news/internshop-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/news/internshop-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/news/internshop-tablet@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/internshop-tablet@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--journey {
      background-image:
        image-set(
          url("../../img/news/journey-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/news/journey-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/news/journey-tablet@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/journey-tablet@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--volunteering {
      background-image:
        image-set(
          url("../../img/news/volunteering-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/news/volunteering-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/news/volunteering-tablet@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/volunteering-tablet@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--career {
      background-image:
        image-set(
          url("../../img/news/career-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/news/career-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/news/career-tablet@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/career-tablet@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media ($desktop) {
    width: 286px;
    height: 400px;

    &--internship {
      background-image:
        image-set(
          url("../../img/news/internshop-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/news/internshop-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/news/internshop-desktop@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/internshop-desktop@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--journey {
      background-image:
        image-set(
          url("../../img/news/journey-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/news/journey-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/news/journey-desktop@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/journey-desktop@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--volunteering {
      background-image:
        image-set(
          url("../../img/news/volunteering-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/news/volunteering-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/news/volunteering-desktop@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/volunteering-desktop@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--career {
      background-image:
        image-set(
          url("../../img/news/career-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/news/career-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/news/career-tablet@1x.jpg") type("image/jpeg") 1x,
          url("../../img/news/career-tablet@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.news__swiper-slide.swiper-slide:nth-child(odd) .news__block {
  height: 330px;

  @media ($tablet) {
    height: 350px;
  }

  @media ($desktop) {
    height: 400px;
  }
}

.news__swiper-slide.swiper-slide.swiper-slide-active .news__block {
  @media ($desktop) {
    width: 604px;
    height: 400px;
  }
}

.news__date {
  position: relative;
  display: block;
  width: 78px;
  padding: 13px 12px 5px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: $primary;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background-color: $beige;
  border-radius: 0 12px 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: -16px;
    background-color: $beige;
    clip-path: polygon(100% 100%, 100% 100%, 83.78% 98.69%, 68.39% 94.9%, 54.04% 88.84%, 40.94% 80.71%, 29.29% 70.71%, 19.29% 59.06%, 11.16% 45.96%, 5.1% 31.61%, 1.31% 16.22%, 0% 0%, 0% 100%, 100% 100%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 0;
    background-color: $beige;
    clip-path: polygon(100% 100%, 100% 100%, 83.78% 98.69%, 68.39% 94.9%, 54.04% 88.84%, 40.94% 80.71%, 29.29% 70.71%, 19.29% 59.06%, 11.16% 45.96%, 5.1% 31.61%, 1.31% 16.22%, 0% 0%, 0% 100%, 100% 100%);
  }
}

.news__block-title {
  position: relative;
  width: 200px;
  margin: 0;
  padding: 11px 18px 3px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  color: $primary;
  background-color: $beige;
  border-radius: 0 12px 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: -16px;
    background-color: $beige;
    clip-path: polygon(100% 100%, 100% 100%, 83.78% 98.69%, 68.39% 94.9%, 54.04% 88.84%, 40.94% 80.71%, 29.29% 70.71%, 19.29% 59.06%, 11.16% 45.96%, 5.1% 31.61%, 1.31% 16.22%, 0% 0%, 0% 100%, 100% 100%);
  }

  @media ($tablet) {
    width: 207px;
    padding: 11px 28px 4px 0;
    font-size: 20px;
    line-height: 1.2;
  }

  @media ($desktop) {
    padding-top: 10px;
    width: 190px;
    font-size: 24px;
    line-height: 1.08;
  }
}

.news__swiper-slide.swiper-slide-active .news__block-title {
  @media ($desktop) {
    width: 426px;
    padding-top: 18px;
    padding-right: 13px;
    padding-bottom: 6px;
  }
}

.news__block-wrapper {
  position: relative;
  display: grid;
  width: 263px;
  padding: 13px 10px 9px 0;
  grid-template-columns: 1fr 30px;
  background-color: $beige;
  border-radius: 0 12px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: -16px;
    background-color: $beige;
    clip-path: polygon(100% 100%, 100% 100%, 83.78% 98.69%, 68.39% 94.9%, 54.04% 88.84%, 40.94% 80.71%, 29.29% 70.71%, 19.29% 59.06%, 11.16% 45.96%, 5.1% 31.61%, 1.31% 16.22%, 0% 0%, 0% 100%, 100% 100%);
  }

  @media ($tablet) {
    width: 240px;
    padding: 13px 18px 15px 0;
  }

  @media ($desktop) {
    padding-top: 12px;
  }
}

.news__swiper-slide.swiper-slide-active .news__block-wrapper {
  @media ($desktop) {
    width: 468px;
  }
}

.news__block-wrapper p {
  width: 213px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: $text;

  @media ($tablet) {
    width: 176px;
    font-size: 14px;
    line-height: 1.43;
  }

  @media ($desktop) {
    width: 176px;
    line-height: 1.29;
  }
}

.news__swiper-slide.swiper-slide-active .news__block-wrapper p {
  @media ($desktop) {
    width: 404px;
  }
}

.news__sublink {
  position: relative;
  top: -1px;
  align-self: center;
}

.news__paginations.swiper-pagination {
  bottom: 47px;
  width: 290px;
  justify-content: space-between;

  @media ($tablet) {
    width: 678px;
  }

  @media ($desktop) {
    bottom: 59px;
    width: 1240px;
  }
}

.news__navigations.swiper-pagination.swiper-pagination-horizontal {
  display: flex;
  position: absolute;
  bottom: 49px;
  left: 50%;
  width: 152px;
  height: 26px;
  flex-wrap: wrap;
  gap: 16px;
  translate: -50% 0;
  overflow: hidden;

  @media ($tablet) {
    bottom: 50px;
    width: 188px;
    height: 32px;
    gap: 20px;
  }

  @media ($desktop) {
    bottom: 60px;
  }
}

.news__navigations.swiper-pagination.swiper-pagination-clickable > .news__bullet.swiper-pagination-bullet {
  width: 26px;
  height: 26px;
  margin: 0;
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: rgb(49, 109, 194, 0.9);
  background-color: transparent;
  border: 2px solid transparent;

  @media ($tablet) {
    width: 32px;
    height: 32px;
  }
}

.news__navigations.swiper-pagination.swiper-pagination-clickable > .news__bullet.swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}
