.programs__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  @media ($tablet) {
    width: 768px;
    padding: 0 45px;
    overflow: hidden;
  }

  @media ($desktop) {
    width: 1440px;
    padding: 0 100px;
  }
}

.programs__swiper.swiper {
  display: grid;
  padding: 56px 0 50px;
  grid-template-columns: 238px 52px;

  @media ($tablet) {
    position: relative;
    padding: 54px 0 112px;
    grid-template-columns: 444px 118px 116px;
    overflow: visible;
  }

  @media ($desktop) {
    padding: 65px 0 122px;
    grid-template-columns: 1006px 180px 54px;
    overflow: hidden;
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 34px;
  grid-column: 1 / 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: $primary;

  @media ($tablet) {
    margin-bottom: 42px;
    font-size: 34px;
    line-height: 1.47;
  }

  @media ($desktop) {
    margin-bottom: 45px;
    font-size: 50px;
    line-height: 1;
  }
}

.programs__pagintaions.swiper-pagination {
  @include list-resseting;

  position: relative;
  top: -2px;
  left: 1px;
  display: flex;
  gap: 6px;
  grid-column: 2 / 3;

  @media ($tablet) {
    position: absolute;
    top: auto;
    right: 1px;
    bottom: 44px;
    left: auto;
    gap: 8px;
    grid-column: 3 / 4;
  }

  @media ($desktop) {
    bottom: 55px;
  }
}

.programs__pagination-button {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: $primary;
    mask-image: url("/__spritemap#sprite-arrow-thin-view");
    rotate: 45deg;
    transition: all 0.3s;
    translate: -50% -50%;
  }

  &:hover {
    &::before {
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  }

  &:focus-visible {
    background-color: $white;
    transition: background-color 0.3s;
  }

  &:active {
    background-color: $white;
    transition: background-color 0.3s;

    &::before {
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  }

  &:disabled {
    pointer-events: none;

    &::before {
      background-color: $state-disabled;
    }
  }
}

.programs__pagination-button--prev::before {
  rotate: -135deg;
}

.programs__swiper-wrapper.swiper-wrapper {
  @include list-resseting;

  grid-column: 1 / 3;
}

.programs__link {
  width: 205px;
  margin-top: 30px;
  grid-column: 1 / 2;
  order: 1;

  @media ($tablet) {
    position: relative;
    top: -4px;
    width: 234px;
    margin-top: 0;
    grid-column: 2 / 4;
    align-self: start;
    order: 0;
  }
}

.programs__swiper-slide.swiper-slide {
  min-height: 400px;
  padding: 271px 10px 10px;
  border-radius: 12px;

  @media ($tablet) {
    min-height: 420px;
    padding: 285px 20px 10px;
  }

  @media ($desktop) {
    padding: 280px 20px 10px;
  }
}

.programs__swiper-slide--internshop {
  background:
    linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
    image-set(
      url("../../img/programs/internship-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/programs/internship-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/programs/internship-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/programs/internship-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    background:
      linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
      image-set(
        url("../../img/programs/internship-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/programs/internship-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/programs/internship-tablet@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs/internship-tablet@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media ($desktop) {
    background:
      linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
      image-set(
        url("../../img/programs/internship-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/programs/internship-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/programs/internship-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs/internship-desktop@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.programs__swiper-slide--volunteering {
  background:
    linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
    image-set(
      url("../../img/programs/volunteering-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/programs/volunteering-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/programs/volunteering-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/programs/volunteering-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    background:
      linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
      image-set(
        url("../../img/programs/volunteering-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/programs/volunteering-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/programs/volunteering-tablet@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs/volunteering-tablet@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media ($desktop) {
    background:
      linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
      image-set(
        url("../../img/programs/volunteering-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/programs/volunteering-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/programs/volunteering-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs/volunteering-desktop@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.programs__swiper-slide--studies {
  background:
    linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
    image-set(
      url("../../img/programs/studies-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/programs/studies-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/programs/studies-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/programs/studies-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    background:
      linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
      image-set(
        url("../../img/programs/studies-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/programs/studies-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/programs/studies-tablet@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs/studies-tablet@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media ($desktop) {
    background:
      linear-gradient(rgba(49, 109, 194, 0.2) 0, rgba(49, 109, 194, 0.2) 100%),
      image-set(
        url("../../img/programs/studies-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/programs/studies-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/programs/studies-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs/studies-desktop@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.programs__subtitle {
  position: relative;
  width: 146px;
  margin: 0;
  padding: 19px 35px 5px 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  color: $primary;
  background-color: $white;
  border-radius: 12px 12px 0 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -18px;
    width: 18px;
    height: 18px;
    background-color: $white;
    clip-path: polygon(100% 100%, 100% 100%, 83.78% 98.69%, 68.39% 94.9%, 54.04% 88.84%, 40.94% 80.71%, 29.29% 70.71%, 19.29% 59.06%, 11.16% 45.96%, 5.1% 31.61%, 1.31% 16.22%, 0% 0%, 0% 100%, 100% 100%);
  }

  @media ($tablet) {
    width: 173px;
    font-size: 20px;
    line-height: 0.7;
  }

  @media ($desktop) {
    width: 194px;
    padding: 18px 35px 6px 18px;
    font-size: 24px;
    line-height: 0.71;
  }
}

.programs__content {
  display: grid;
  width: 270px;
  padding: 13px 15px 14px 18px;
  grid-template-columns: 181px 30px;
  gap: 23px;
  align-items: center;
  background-color: $white;
  border-radius: 0 12px 12px;

  @media ($tablet) {
    width: 284px;
    padding: 12px 15px 15px 18px;
    gap: 37px;
  }

  @media ($desktop) {
    width: 321px;
    min-height: 82px;
    gap: 74px;
  }
}

.programs__content p {
  width: 175px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: $text;

  @media ($tablet) {
    width: 196px;
    font-size: 14px;
    line-height: 1.43;
  }

  @media ($desktop) {
    width: 234px;
    line-height: 1.29;
  }
}

// .programs__sublink {
//   position: relative;
//   display: block;
//   width: 30px;
//   height: 30px;
//   background-color: $primary;
//   border-radius: 50%;
//   transition: all 0.3s;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 10px;
//     height: 10px;
//     background-color: $white;
//     mask-image: url("/__spritemap#sprite-arrow-thin-view");
//     translate: -50% -50%;
//     transition: all 0.3s;
//   }

//   &:hover {
//     background-color: $white;
//     transition: background-color 0.3s;

//     &::before {
//       background-color: $primary;
//       rotate: 45deg;
//       transition: background-color 0.3s, rotate 0.3s;
//     }
//   }

//   &:focus-visible {
//     &::before {
//       rotate: 45deg;
//       transition: rotate 0.3s;
//     }
//   }

//   &:active {
//     background-color: $white;
//     transition: background-color 0.3s;

//     &::before {
//       background-color: $primary;
//       rotate: 45deg;
//       opacity: 0.7;
//       transition: background-color 0.3s, rotate 0.3s, opacity 0.3s;
//     }
//   }

//   &:disabled {
//     background-color: $state-disabled;

//     &::before {
//       opacity: 0.6;
//     }
//   }
// }

.programs__swiper-scrollbar.swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none;

  @media ($tablet) {
    display: block;
    top: auto;
    bottom: 60px;
    left: 0;
    min-width: 562px;
    max-height: 2px;
    grid-column: 1 / 3;
    background-color: rgb(49, 109, 194, 0.2);
    cursor: pointer;
  }

  @media ($desktop) {
    bottom: 70px;
  }
}


.programs__swiper-scrollbar.swiper-scrollbar > .swiper-scrollbar-drag {
  background-color: $primary;
  border-color: $primary;
}
