.toggle-burger {
  position: relative;
  width: 46px;
  height: 46px;
  border: 1px solid transparent;
  background-color: $primary;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  &--open {
    background-color: $white;
    transition: background-color 0.3s;
  }
}

.toggle-burger--open .toggle-burger__line {
  background-color: $primary;
  transition: background-color 0.3s, width 0.3s, rotate 0.3s;
}

.toggle-burger--open .toggle-burger__line--1 {
  transform-origin: 0 0;
  width: 22px;
  left: 57%;
  top: 31%;
  rotate: 45deg;
  transition: width 0.3s, rotate 0.3s;
}

.toggle-burger--open .toggle-burger__line--2 {
  width: 0;
  transition: width 0.3s;
}

.toggle-burger--open .toggle-burger__line--3 {
  width: 22px;
  top: 67%;
  left: 57%;
  transform-origin: 0 0;
  rotate: -45deg;
  transition: width 0.3s, rotate 0.3s;
}

.toggle-burger:not(.toggle-burger--open):hover .toggle-burger__line--2 {
  width: 10px;
  transition: width 0.3s;
}

.toggle-burger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 1px;
  background-color: $white;
  border-radius: 2px;
  translate: -50% -50%;
  transition: background-color 0.3s, width 0.3s, rotate 0.3s;
}

.toggle-burger__line--1 {
  top: 42%;
}

.toggle-burger__line--3 {
  top: 58%;
}
