*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.62;
  color: $text;
}
